<%= form_for(@search_result) do |f| %>
  <% if @search_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_result.errors.count, "error") %> prohibited this search_result from being saved:</h2>

      <ul>
      <% @search_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyword_id %><br>
    <%= f.number_field :keyword_id %>
  </div>
  <div class="field">
    <%= f.label :searched_date %><br>
    <%= f.datetime_select :searched_date %>
  </div>
  <div class="field">
    <%= f.label :tweet_count %><br>
    <%= f.number_field :tweet_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
